.nav {
    display: flex;
    @media screen and (min-width: 768px) {
         display: flex;
    align-items: center;
    justify-content:space-between;
    }

    }
    

.header-page {
    background-color: var(--background-color);
    border-bottom: 1px solid #ececec;
}

.site-auth {
    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 768px) {
    margin-left: 93px; 
    align-items: center;
    /*margin-left: auto; */
        }
        @media screen and (min-width: 1200px) {
            display: flex;
            margin-left: 280px;
            align-items: center;
            /*margin-left: auto;*/
}
}
.mobil-nav__link,
.mobil-auth__link,
.mobil-soc__link{
        text-decoration: none;
        display: flex;
        align-items: center;
        @media screen and (min-width: 768px) {
                display: none;
    }
}

.site-auth__link,
.address {
    text-decoration: none;
    display: flex;
    align-items: center;
}



.site-auth__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    color: #757575;
    padding-top: 10px;
 
@media screen and (min-width: 1200px) {
                padding-top: 32px;
            padding-bottom: 32px;
}

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--text-active-color);
    }

    &:hover .site-auth__icon,
    &:focus .site-auth__icon {
        fill: var(--text-active-color);
    }
}

.site-auth__icon {
    align-items: center;
    margin-right: 10px;
    fill: #757575;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-auth .site-auth__item+.site-auth__item {
    

    @media screen and (min-width: 1200px) {
        margin-left: 40px;
    }
    
}


/*.site-auth .site-auth__item {
@media screen and (min-width: 768px) {
        margin-left: 50px;
    }
}*/


.button-menu {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    fill: #212121;
    margin-left: 284px;
    cursor: pointer;

    transition: online 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:focus {
            fill: #2196F3;
            outline: 2px solid #2196f3;
        }
}
.button-menu {
    @media screen and (min-width: 768px) {
    display: none;
        }
   }

   .icon-menu {
    border: none;
    background-color: transparent;
    fill: #212121;
   }

.container.is-hidden {
    opacity: 0;
    pointer-events: none;
}


.mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    padding: 40px 48px;
    > .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: auto;
    }
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.button-mob__close {
display: block;
/*margin-left: auto;*/
position: absolute;
top: 0;
right: 0; 
border-color: transparent;
 display: flex;   
outline: transparent;
background: #ffffff;
margin-top: 8px;
margin-right: 8px;
border-radius: 50%;
align-items: center;
text-align: center;
cursor: pointer;

    transition: online 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        outline: 2px solid #2196f3;
    }
}

.icon-menu {
    display: flex;
    background: #ffffff;
    fill: #2f303a;
    border-radius: 50%;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        fill: #2196f3;
    }
}

.closed:hover+.closed-icon {
    fill: #2196f3;
}
.mobil-nav {
    margin-bottom: 300px;
}

.mobil-nav__link {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: calc(48 / 40);
        letter-spacing: 0.02em;
        color: #212121;
       
        @media screen and (min-width: 768px) {
                display: none;
            }

}
.mobil-nav__item:not(:last-child) {
    margin-bottom: 32px;
}

.nav .mobil-nav__link.current {
    color: #2196F3;
}
.mobil-auth__item:not(:last-child) {
    margin-bottom: 32px;
    @media screen and (min-width: 768px) {
            display: none;
        }
}

.mobil-soc__item:not(:first-child) {
    padding-left: 10px;
    border-left: 2px solid rgba(33, 33, 33, 0.2);
}

.mobil-soc__item:not(:last-child) {
    padding-right: 10px;
    
}

.mob-tell {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #2196F3;
    @media screen and (min-width: 768px) {
            display: none;
        }
}
.mob-mail {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.02em;
            color: #757575;
            @media screen and (min-width: 768px) {
                    display: none;
                }
}
.mobil-soc {
    display: flex;
    margin-top: 64px;
    @media screen and (min-width: 768px) {
            display: none;
        }
}

.mobil-soc__link {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.02em;
       color: #2196F3;
       
  @media screen and (min-width: 768px) {
      display: none;
  }
}

