.title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: calc(42 / 26);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;

        
    @media screen and (min-width: 768px) {
    font-size: 44px;
    line-height: 1.3636; 
    }
    
}


.hero {
background-color: var(--footer-background-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../../images/image/Mob/1x/Hero_mob_1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 118px 0px;
    max-width: 767px;
    margin: 0 auto;
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        ackground-color: var(--footer-background-color);
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../../images/image/Mob/2x/Hero_mob_2.jpg);
        }
    @media screen and (min-width:480px) {
        background-color: var(--footer-background-color);
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../../images/image/Tab/1x/Hero_tab_1.jpg);
                @media (min-device-pixel-ratio: 2),
                    (min-resolution: 192dpi),
                    (min-resolution: 2dppx) {
                        ackground-color: var(--footer-background-color);
                        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                                rgba(47, 48, 58, 0.4)),
                            url(../../images/image/Tab/2x/Hero_tab_2.jpg);
    }
}
    @media screen and (min-width: 768px) {
            background-color: var(--footer-background-color);
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../../images/image/Desc/1x/Hero_desc_1.jpg);
                @media (min-device-pixel-ratio: 2),
                    (min-resolution: 192dpi),
                    (min-resolution: 2dppx) {
                        ackground-color: var(--footer-background-color);
                        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                                rgba(47, 48, 58, 0.4)),
                            url(../../images/image/Desc/2x/Hero_desc_2.jpg);
            background-position: center;
            background-repeat: no-repeat;
            padding: 200px 0px;
           
        }
    }
    @media screen and (min-width: 1200px) {
    /*background-color: var(--footer-background-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(/images/image/Desc/1x/Hero_desc_1.jpg);*/

    background-position: center;
    background-repeat: no-repeat;
    padding: 200px 0px;
    max-width: 1600px;
    margin: 0 auto;
    }
}

.button-order {
    font-family: "Roboto";
    font-style: normal;
    font-size: 16px;
    line-height: 1.875;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #2196f3;
    border-radius: 4px;
    padding: 10px 32px;
    margin-top: 30px;
    border: none;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus,
    &:active {
        background-color: #2196f3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
    }
}