root {
    --primary-background-color: #f5f5f5;
    --background-color: #ffffff;
    --button-background-color: #f5f4fa;
    --footer-background-color: #2f303a;
    --text-color: #212121;
    --text-active-color: #2196f3;
    --text-title-color: #757575;
    --active: #320242;
}